<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dataset.mapper.MaterialTagMapper">

    <insert id="insertTags" useGeneratedKeys="true">
        insert into material_tag (material_id, tag_id)
        values
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{materialId}, #{tagId})
        </foreach>
    </insert>
</mapper>